<style>
    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }

    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #161204;
        overflow: hidden;
    }

    .background span {
        width: 6vmin;
        height: 6vmin;
        border-radius: 6vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 45;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }


    .background span:nth-child(0) {
        color: #b9aa6a;
        top: 54%;
        left: 16%;
        animation-duration: 35s;
        animation-delay: -6s;
        transform-origin: -6vw -13vh;
        box-shadow: -12vmin 0 1.9464111402906799vmin currentColor;
    }
    .background span:nth-child(1) {
        color: #5db13e;
        top: 31%;
        left: 52%;
        animation-duration: 48s;
        animation-delay: -4s;
        transform-origin: 23vw 0vh;
        box-shadow: 12vmin 0 2.430746958014842vmin currentColor;
    }
    .background span:nth-child(2) {
        color: #5db13e;
        top: 7%;
        left: 15%;
        animation-duration: 20s;
        animation-delay: -18s;
        transform-origin: -8vw -6vh;
        box-shadow: -12vmin 0 1.5368671441662944vmin currentColor;
    }
    .background span:nth-child(3) {
        color: #bfffad;
        top: 63%;
        left: 25%;
        animation-duration: 49s;
        animation-delay: -5s;
        transform-origin: -4vw 19vh;
        box-shadow: 12vmin 0 1.6975212971447737vmin currentColor;
    }
    .background span:nth-child(4) {
        color: #b9aa6a;
        top: 98%;
        left: 66%;
        animation-duration: 36s;
        animation-delay: -2s;
        transform-origin: -6vw 25vh;
        box-shadow: -12vmin 0 2.2395779049390594vmin currentColor;
    }
    .background span:nth-child(5) {
        color: #bfffad;
        top: 60%;
        left: 83%;
        animation-duration: 27s;
        animation-delay: -32s;
        transform-origin: 0vw 3vh;
        box-shadow: -12vmin 0 2.4708707371033793vmin currentColor;
    }
    .background span:nth-child(6) {
        color: #5db13e;
        top: 14%;
        left: 50%;
        animation-duration: 6s;
        animation-delay: -37s;
        transform-origin: -6vw 9vh;
        box-shadow: 12vmin 0 1.6308039230120424vmin currentColor;
    }
    .background span:nth-child(7) {
        color: #b9aa6a;
        top: 2%;
        left: 37%;
        animation-duration: 22s;
        animation-delay: -21s;
        transform-origin: -9vw -5vh;
        box-shadow: -12vmin 0 1.9475232777997538vmin currentColor;
    }
    .background span:nth-child(8) {
        color: #b9aa6a;
        top: 25%;
        left: 46%;
        animation-duration: 32s;
        animation-delay: -4s;
        transform-origin: 1vw 23vh;
        box-shadow: -12vmin 0 2.2565376390949146vmin currentColor;
    }
    .background span:nth-child(9) {
        color: #bfffad;
        top: 54%;
        left: 51%;
        animation-duration: 31s;
        animation-delay: -30s;
        transform-origin: -11vw -7vh;
        box-shadow: 12vmin 0 2.456095210194583vmin currentColor;
    }
    .background span:nth-child(10) {
        color: #b9aa6a;
        top: 82%;
        left: 71%;
        animation-duration: 49s;
        animation-delay: -36s;
        transform-origin: 2vw 20vh;
        box-shadow: -12vmin 0 1.9438426569452407vmin currentColor;
    }
    .background span:nth-child(11) {
        color: #bfffad;
        top: 78%;
        left: 29%;
        animation-duration: 14s;
        animation-delay: -39s;
        transform-origin: -17vw -14vh;
        box-shadow: -12vmin 0 2.4403474238878977vmin currentColor;
    }
    .background span:nth-child(12) {
        color: #b9aa6a;
        top: 97%;
        left: 12%;
        animation-duration: 22s;
        animation-delay: -19s;
        transform-origin: -5vw -21vh;
        box-shadow: 12vmin 0 2.021108623187631vmin currentColor;
    }
    .background span:nth-child(13) {
        color: #bfffad;
        top: 27%;
        left: 87%;
        animation-duration: 26s;
        animation-delay: -48s;
        transform-origin: 12vw 11vh;
        box-shadow: -12vmin 0 2.429178225465805vmin currentColor;
    }
    .background span:nth-child(14) {
        color: #5db13e;
        top: 56%;
        left: 74%;
        animation-duration: 42s;
        animation-delay: -40s;
        transform-origin: -3vw 23vh;
        box-shadow: -12vmin 0 1.9094194124529165vmin currentColor;
    }
    .background span:nth-child(15) {
        color: #b9aa6a;
        top: 36%;
        left: 69%;
        animation-duration: 26s;
        animation-delay: -32s;
        transform-origin: 9vw 18vh;
        box-shadow: -12vmin 0 1.5832649937065284vmin currentColor;
    }
    .background span:nth-child(16) {
        color: #b9aa6a;
        top: 69%;
        left: 21%;
        animation-duration: 31s;
        animation-delay: -42s;
        transform-origin: -15vw 14vh;
        box-shadow: -12vmin 0 1.764943325515316vmin currentColor;
    }
    .background span:nth-child(17) {
        color: #bfffad;
        top: 19%;
        left: 89%;
        animation-duration: 46s;
        animation-delay: -21s;
        transform-origin: 0vw -20vh;
        box-shadow: -12vmin 0 2.407145679559946vmin currentColor;
    }
</style>

<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
