@import "reveal-js/css/theme/template/mixins";
@import "reveal-js/css/theme/template/settings";

@font-face {
  font-family: 'Mighty Brush';
  font-style: normal;
  src: url('fonts/MightyBrush.woff') format('woff'),
  url('fonts/MightyBrush.ttf') format('truetype'),
  url('fonts/MightyBrush.otf') format('opentype');
}

$headingColor:  #FFFAFA;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;

$detailSpace: 0.2em;

$heading1Size: 8.0em;
$heading2Size: 2.0em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$mainFont: 'Mighty Brush';
$headingFont: 'Mighty Brush';

$blockMargin: 0;
$headingMargin: 0;

@import "reveal-js/css/theme/template/theme";

.herz {
  &-title {
    margin-top: 0.3em;
    font-size: 4.0em;
  }

  &-sub {
    font-size: 2.0em;
    letter-spacing: .1em;
  }

  &-item {
    margin-bottom: 1em;
  }

  &-divider::after {
    content: "-";
  }
}


.beer {

  &-title {
    font-size: 2.0em;
  }

  &-name {
    display: block;
    font-size: 1.2em;
  }

  &-detail {
    display: block;
  }

  &-size {
    padding-right: $detailSpace;
  }

  &-price {
    padding-left: $detailSpace;
  }
}
